.partnameitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
}

.partnameitem h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}


.modename {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partcode {
  position: absolute;
  left: 12rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partname {
  position: absolute;
  left: 18rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.code {
  font-weight: bold;
  color: #8a2b06;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.partnameitem button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:10px;
  font-weight: bold;
}

.partnameitem button:hover,
.partnameitem button:active {
  background-color: #8a2b06;
  color: white;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}
